/*!
 * Jtoast.css  v1.0
 */
.jtoast-view{ 
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
	line-height: 1.4em;
    _position: absolute;  
    _clear: both;
    _top:expression(eval(document.compatMode &&   
           document.compatMode=='CSS1Compat') ?   
           documentElement.scrollTop   
           +(documentElement.clientHeight-this.clientHeight) - 1   
           : document.body.scrollTop   
           +(document.body.clientHeight-this.clientHeight) - 1); 
}
.jtoast-shade{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #000;
	filter: alpha(Opacity = 20);
	-moz-opacity: 0.2;
	opacity: 0.2;
}
.jtoast-sv-00{
	filter: alpha(Opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
}

.jtoast-view .jtoast-box{
	width: 450px;
	border: solid 1px #d8d8d8;
	z-index: 101;
	background: #FFF;
	margin: 15% auto 0 auto;
	position: relative;
	padding-bottom: 20px;
}

.jtoast-view .jtoast-title {
	padding: 10px;
	color: #0b92dc;
	font-weight: bold;
	font-size: 1.2em;
}
.jtoast-view .jtoast-title #close {
	float: right;
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images/close.png);
}
.jtoast-view .jtoast-content {
	margin: 0 50px;
}
.jtoast-view .jtoast-content p {
	margin: 10px 0 20px 0;
	word-break: break-word;
}
.jtoast-view .jtoast-btn{
	border: 1px solid #d8d8d8;
	padding: 5px 15px;
	margin-left: 10px;
	text-decoration: none;
	color: #000;
	font-size: 0.9em;
	font-weight: bold;
}
.jtoast-view  .jtoast-opt{
	text-align: right;
}